<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <header class="header">
		<h1 class="logo"><a href="#">Library Management</a></h1>
      <ul class="main-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="https://jagadeeshpj.netlify.app/" target="_blank">About(Me)</a></li>
          <li><a href="#">Books</a></li>
          <li><a href="#">Contact</a></li>
      </ul>
	</header> 

  <body>
    <div class="wrapper">
      <div id="search-container">
        <input
          type="search"
          id="search-input"
          placeholder="Search Title name here.."
        />
        <button id="search">Search</button>
      </div>
      <div id="buttons">
        <button class="button-value" onclick="filterProduct('all')">All</button>
        <button class="button-value" onclick="filterProduct('Basic')">
          Basic
        </button>
        <button class="button-value" onclick="filterProduct('IT')">
          IT
        </button>
        <button class="button-value" onclick="filterProduct('CSE')">
          CSE
        </button>
        <button class="button-value" onclick="filterProduct('ISE')">
          ISE
        </button>
        <button class="button-value" onclick="filterProduct('Novel')">
          Novel
        </button>
        <button class="button-value" onclick="filterProduct('Fantasy')">
          Fantasy
        </button>
      </div>
      <div id="Books"></div>
    </div>
    <script src="script.js"></script>
  </body>
  <footer>
    <div class="footer">
    <div class="row">
    <a href="https://github.com/jagadeeshpj" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://www.instagram.com/jagadeesh2001/" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-youtube"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
    
    <div class="row">
    <ul>
    <li><a href="#">Contact us</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Terms & Conditions</a></li>
    </ul>
    </div>
    
    <div class="row">
    DEVREV Library Management || Copyright © 2022  - All rights reserved || Designed By: P JAGADEESH 
    </div>
    </div>
    </footer>
    
</html>


let products = {
    data : [
        {
            title: "title : NCERT",
            author: "author : P JAGADEESH",
            subject: "Basic",
            date: "2022-01-31",
            image: "img/NCER.jpg" ,
        },
        {
            title: "title : Cryptography",
            author: "author : P.J.BOSE",
            subject: "IT",
            date: "2022-11-11",
            image: "img/crypto.jpg" ,
        },
        {
            title: "title : DBMS",
            author: "author : KAVERI S",
            subject: "IT",
            date:  "2022-12-22",
            image: "img/Database.jpg" ,
        },
        {
            title: "title : Computer networks and security",
            author: "author : PRIYANKA",
            subject: "CSE",
            date:  "2022-03-20",
            image: "img/cns.jpg" ,
        },
        {
            title: "title : Mental Peace",
            author: "author : Putin",
            subject: "Novel",
            date:  "2022-11-10",
            image: "img/Network.jpg" ,
        },
        {
            title: "title : Artificial Intelligence",
            author: "author : Harish P",
            subject: "ISE",
            date:  "2022-12-20",
            image: "img/Os.jpg" ,
        },
        {
            title: "title : System design",
            author: "author : AmaRNADH.W",
            subject: "CSE",
            date:  "2022-12-20",
            image: "img/Sdesign.jpg" ,
        },
        {
            title: "title : Mathematics",
            author: "author : HARIKRISHNA",
            subject: "Basic",
            date: "2022-01-21",
            image: "img/Maths.jpg" ,
        },
        {
            title: "title : Harry Potter",
            author: "author : J.K. Rowling",
            subject: "Fantasy",
            date:  "1999-12-20",
            image: "img/hp.jpg" ,
        },
        {
            title: "title : Operating System",
            author: "author : RAMA KRISHNA K",
            subject: "CSE",
            date:  "2022-04-20",
            image: "img/Nt.jpg" ,
        },
        {
            title: "title : Atomic Habbits",
            author: "author : JEEVAN E",
            subject: "Novel",
            date:  "1995-12-22",
            image: "img/ah.jpg" ,
        },
        {
            title: "title : How to win friends and influence people",
            author: "author : LEHAN FAYAZ",
            subject: "Novel",
            date:  "2002-02-02",
            image: "img/htw.jpeg" ,
        },
        {
            title: "title : Image Processing",
            author: "author : BHANU CHANDAR",
            subject: "ISE",
            date:  "2021-12-20",
            image: "img/wta.jpg" ,
        },
        {
            title: "title : Physics",
            author: "author : Nischitha E",
            subject: "Basic",
            date:  "2022-12-20",
            image: "img/Ncert.jpg" ,
        },
        {
            title: "title : UNIX",
            author: "author : Aakash chopra",
            subject: "IT",
            date: "2022-08-08",
            image: "img/Nt.jpg" ,
        },
    ],
};

for(let i of products.data){
    let card = document.createElement("div");
    card.classList.add("card",i.subject,"hide");

    let imgContainer = document.createElement("div");
    imgContainer.classList.add("image-container");

    let image = document.createElement("img");
    image.setAttribute("src",i.image);
    imgContainer.appendChild(image);
    card.appendChild(imgContainer);

    let container = document.createElement("div");
    container.classList.add("container");

    let title = document.createElement("h5");
    title.classList.add("title");
    title.innerText = i.title.toUpperCase();
    container.appendChild(title);

    let author = document.createElement("h6");
    author.classList.add("author");
    author.innerText = i.author.toUpperCase();
    container.appendChild(author);

    let sub = document.createElement("h6");
    sub.classList.add("sub");
    sub.innerText = i.subject.toUpperCase();
    container.appendChild(sub);

    let date = document.createElement("h6");
    date.classList.add("date");
    date.innerText = i.date.toUpperCase();
    container.appendChild(date);

    card.appendChild(container);
    document.getElementById("Books").appendChild(card);
}

function filterProduct(value) {
    let buttons = document.querySelectorAll(".button-value");
    buttons.forEach((button) => {
      if (value.toUpperCase() == button.innerText.toUpperCase()) {
        button.classList.add("active");
      } else {
        button.classList.remove("active");
      }
    });

    let elements = document.querySelectorAll(".card");
    elements.forEach((element) =>{
        if(value == "all"){
            element.classList.remove("hide");
        }else{
            if(element.classList.contains(value)){
                element.classList.remove("hide");
            }
            else{
                element.classList.add("hide");
            }
        }
    });
}

document.getElementById("search").addEventListener("click", () => {
    let searchInput = document.getElementById("search-input").value;
    let elements = document.querySelectorAll(".title");
    let cards = document.querySelectorAll(".card");
    elements.forEach((element, index) => {
      if (element.innerText.includes(searchInput.toUpperCase())) {
        cards[index].classList.remove("hide");
      } else {
        cards[index].classList.add("hide");
      }
    });
  });


  

  window.onload = () => {
    filterProduct("all");
  };



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #f5f8ff;
  }
  .wrapper {
    width: 95%;
    margin: 0 auto;
  }
  #search-container {
    margin: 1em 0;
  }
  #search-container input {
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
  }
  #search-container input:focus {
    border-bottom-color: #6759ff;
  }
  #search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #6759ff;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
  }
  .button-value {
    border: 2px solid #6759ff;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #6759ff;
    cursor: pointer;
  }
  .active {
    background-color: #6759ff;
    color: #ffffff;
  }
  #Books {
    display: grid;
    margin-left: 100px;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
  }
  .card {
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
  }
  .image-container {
    text-align: center;
  }
  img {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
  }
  .container {
    padding-top: 1em;
    color: #110f29;
  }
  .container h5 {
    font-weight: 500;
  }
  .hide {
    display: none;
  }
  @media screen and (max-width: 720px) {
    img {
      max-width: 100%;
      object-fit: contain;
      height: 10em;
    }
    .card {
      max-width: 10em;
      margin-top: 1em;
    }
    #Books {
      grid-template-columns: auto auto;
      grid-column-gap: 1em;
    }
  }
  /* #Books{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    border: 5px;
  } */
  
* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
/*ffooter*/
.footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }
